//! **************************************************************************
// Written by: Map P.68d on Fri Nov 30 17:35:52 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "vgaGreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgaGreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "btnLeft" LOCATE = SITE "C4" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgaRed<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "btnRight" LOCATE = SITE "D9" LEVEL 1;
COMP "btnShoot" LOCATE = SITE "A8" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "btnRst" LOCATE = SITE "C9" LEVEL 1;
COMP "vgaBlue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "arst_ff_0" BEL "arst_ff_1" BEL
        "playerProj/o_proj1X_0" BEL "playerProj/o_proj1X_1" BEL
        "playerProj/o_proj1X_2" BEL "playerProj/o_proj1X_3" BEL
        "playerProj/o_proj1X_4" BEL "playerProj/o_proj1X_5" BEL
        "playerProj/o_proj1X_6" BEL "playerProj/o_proj1X_7" BEL
        "playerProj/o_proj1X_8" BEL "playerProj/o_proj1X_9" BEL
        "playerProj/o_proj3X_0" BEL "playerProj/o_proj3X_1" BEL
        "playerProj/o_proj3X_2" BEL "playerProj/o_proj3X_3" BEL
        "playerProj/o_proj3X_4" BEL "playerProj/o_proj3X_5" BEL
        "playerProj/o_proj3X_6" BEL "playerProj/o_proj3X_7" BEL
        "playerProj/o_proj3X_8" BEL "playerProj/o_proj3X_9" BEL
        "playerProj/o_proj2X_0" BEL "playerProj/o_proj2X_1" BEL
        "playerProj/o_proj2X_2" BEL "playerProj/o_proj2X_3" BEL
        "playerProj/o_proj2X_4" BEL "playerProj/o_proj2X_5" BEL
        "playerProj/o_proj2X_6" BEL "playerProj/o_proj2X_7" BEL
        "playerProj/o_proj2X_8" BEL "playerProj/o_proj2X_9" BEL
        "playerProj/o_proj3Y_0" BEL "playerProj/o_proj3Y_1" BEL
        "playerProj/o_proj3Y_2" BEL "playerProj/o_proj3Y_3" BEL
        "playerProj/o_proj3Y_4" BEL "playerProj/o_proj3Y_5" BEL
        "playerProj/o_proj3Y_6" BEL "playerProj/o_proj3Y_7" BEL
        "playerProj/o_proj3Y_8" BEL "playerProj/o_proj2Y_0" BEL
        "playerProj/o_proj2Y_1" BEL "playerProj/o_proj2Y_2" BEL
        "playerProj/o_proj2Y_3" BEL "playerProj/o_proj2Y_4" BEL
        "playerProj/o_proj2Y_5" BEL "playerProj/o_proj2Y_6" BEL
        "playerProj/o_proj2Y_7" BEL "playerProj/o_proj2Y_8" BEL
        "playerProj/o_proj1Y_0" BEL "playerProj/o_proj1Y_1" BEL
        "playerProj/o_proj1Y_2" BEL "playerProj/o_proj1Y_3" BEL
        "playerProj/o_proj1Y_4" BEL "playerProj/o_proj1Y_5" BEL
        "playerProj/o_proj1Y_6" BEL "playerProj/o_proj1Y_7" BEL
        "playerProj/o_proj1Y_8" BEL "clkDisplay/clk_out" BEL
        "gen_clkVga/clk_out" BEL "gen_pulseCycleStep/clk_out" BEL
        "gen_pulsePlayerProjSpeed/clk_out" BEL
        "gen_pulseBossProjSpeed/clk_out" BEL "state/gameState_1" BEL
        "clkDisplay/counter_1" BEL "clkDisplay/counter_2" BEL
        "clkDisplay/counter_3" BEL "clkDisplay/counter_4" BEL
        "clkDisplay/counter_5" BEL "clkDisplay/counter_6" BEL
        "clkDisplay/counter_7" BEL "clkDisplay/counter_10" BEL
        "clkDisplay/counter_8" BEL "clkDisplay/counter_9" BEL
        "clkDisplay/counter_11" BEL "clkDisplay/counter_12" BEL
        "clkDisplay/counter_13" BEL "clkDisplay/counter_14" BEL
        "clkDisplay/counter_15" BEL "clkDisplay/counter_16" BEL
        "clkDisplay/counter_19" BEL "clkDisplay/counter_17" BEL
        "clkDisplay/counter_18" BEL "clkDisplay/counter_20" BEL
        "clkDisplay/counter_21" BEL "clkDisplay/counter_22" BEL
        "clkDisplay/counter_23" BEL "clkDisplay/counter_24" BEL
        "clkDisplay/counter_25" BEL "gen_clkVga/counter_2" BEL
        "gen_clkVga/counter_1" BEL "gen_clkVga/counter_3" BEL
        "gen_clkVga/counter_4" BEL "gen_clkVga/counter_5" BEL
        "gen_clkVga/counter_6" BEL "gen_clkVga/counter_7" BEL
        "gen_clkVga/counter_8" BEL "gen_clkVga/counter_11" BEL
        "gen_clkVga/counter_9" BEL "gen_clkVga/counter_10" BEL
        "gen_clkVga/counter_12" BEL "gen_clkVga/counter_13" BEL
        "gen_clkVga/counter_14" BEL "gen_clkVga/counter_15" BEL
        "gen_clkVga/counter_16" BEL "gen_clkVga/counter_17" BEL
        "gen_clkVga/counter_20" BEL "gen_clkVga/counter_18" BEL
        "gen_clkVga/counter_19" BEL "gen_clkVga/counter_21" BEL
        "gen_clkVga/counter_22" BEL "gen_clkVga/counter_23" BEL
        "gen_clkVga/counter_24" BEL "gen_clkVga/counter_25" BEL
        "gen_pulseCycleStep/counter_0" BEL "gen_pulseCycleStep/counter_3" BEL
        "gen_pulseCycleStep/counter_1" BEL "gen_pulseCycleStep/counter_2" BEL
        "gen_pulseCycleStep/counter_4" BEL "gen_pulseCycleStep/counter_5" BEL
        "gen_pulseCycleStep/counter_6" BEL "gen_pulseCycleStep/counter_7" BEL
        "gen_pulseCycleStep/counter_8" BEL "gen_pulseCycleStep/counter_9" BEL
        "gen_pulseCycleStep/counter_12" BEL "gen_pulseCycleStep/counter_10"
        BEL "gen_pulseCycleStep/counter_11" BEL
        "gen_pulseCycleStep/counter_13" BEL "gen_pulseCycleStep/counter_14"
        BEL "gen_pulseCycleStep/counter_15" BEL
        "gen_pulseCycleStep/counter_16" BEL "gen_pulseCycleStep/counter_17"
        BEL "gen_pulseCycleStep/counter_18" BEL
        "gen_pulseCycleStep/counter_19" BEL "gen_pulseCycleStep/counter_20"
        BEL "gen_pulseCycleStep/counter_21" BEL
        "gen_pulseCycleStep/counter_22" BEL "gen_pulseCycleStep/counter_23"
        BEL "gen_pulseCycleStep/counter_24" BEL
        "gen_pulseCycleStep/counter_25" BEL "gen_pulseCycleStep/counter_26"
        BEL "gen_pulseCycleStep/counter_29" BEL
        "gen_pulseCycleStep/counter_27" BEL "gen_pulseCycleStep/counter_28"
        BEL "gen_pulseCycleStep/counter_30" BEL
        "gen_pulseCycleStep/counter_31" BEL
        "gen_pulsePlayerProjSpeed/counter_6" BEL
        "gen_pulsePlayerProjSpeed/counter_5" BEL
        "gen_pulsePlayerProjSpeed/counter_7" BEL
        "gen_pulsePlayerProjSpeed/counter_8" BEL
        "gen_pulsePlayerProjSpeed/counter_9" BEL
        "gen_pulsePlayerProjSpeed/counter_10" BEL
        "gen_pulsePlayerProjSpeed/counter_11" BEL
        "gen_pulsePlayerProjSpeed/counter_12" BEL
        "gen_pulsePlayerProjSpeed/counter_15" BEL
        "gen_pulsePlayerProjSpeed/counter_13" BEL
        "gen_pulsePlayerProjSpeed/counter_14" BEL
        "gen_pulsePlayerProjSpeed/counter_16" BEL
        "gen_pulsePlayerProjSpeed/counter_17" BEL
        "gen_pulsePlayerProjSpeed/counter_18" BEL
        "gen_pulsePlayerProjSpeed/counter_19" BEL
        "gen_pulsePlayerProjSpeed/counter_20" BEL
        "gen_pulsePlayerProjSpeed/counter_21" BEL
        "gen_pulsePlayerProjSpeed/counter_22" BEL
        "gen_pulsePlayerProjSpeed/counter_23" BEL
        "gen_pulsePlayerProjSpeed/counter_24" BEL
        "gen_pulsePlayerProjSpeed/counter_25" BEL
        "gen_pulsePlayerProjSpeed/counter_26" BEL
        "gen_pulsePlayerProjSpeed/counter_27" BEL
        "gen_pulsePlayerProjSpeed/counter_28" BEL
        "gen_pulsePlayerProjSpeed/counter_29" BEL
        "gen_pulsePlayerProjSpeed/counter_30" BEL
        "gen_pulsePlayerProjSpeed/counter_31" BEL
        "gen_pulseBossProjSpeed/counter_6" BEL
        "gen_pulseBossProjSpeed/counter_9" BEL
        "gen_pulseBossProjSpeed/counter_7" BEL
        "gen_pulseBossProjSpeed/counter_8" BEL
        "gen_pulseBossProjSpeed/counter_10" BEL
        "gen_pulseBossProjSpeed/counter_11" BEL
        "gen_pulseBossProjSpeed/counter_12" BEL
        "gen_pulseBossProjSpeed/counter_13" BEL
        "gen_pulseBossProjSpeed/counter_14" BEL
        "gen_pulseBossProjSpeed/counter_15" BEL
        "gen_pulseBossProjSpeed/counter_18" BEL
        "gen_pulseBossProjSpeed/counter_16" BEL
        "gen_pulseBossProjSpeed/counter_17" BEL
        "gen_pulseBossProjSpeed/counter_19" BEL
        "gen_pulseBossProjSpeed/counter_20" BEL
        "gen_pulseBossProjSpeed/counter_21" BEL
        "gen_pulseBossProjSpeed/counter_22" BEL
        "gen_pulseBossProjSpeed/counter_23" BEL
        "gen_pulseBossProjSpeed/counter_24" BEL
        "gen_pulseBossProjSpeed/counter_25" BEL
        "gen_pulseBossProjSpeed/counter_26" BEL
        "gen_pulseBossProjSpeed/counter_27" BEL
        "gen_pulseBossProjSpeed/counter_28" BEL
        "gen_pulseBossProjSpeed/counter_29" BEL
        "gen_pulseBossProjSpeed/counter_30" BEL
        "gen_pulseBossProjSpeed/counter_31" BEL "db_btnS/btn_signal" BEL
        "db_btnS/clk_en_d" BEL "db_btnS/step_btn_2" BEL "db_btnS/step_btn_1"
        BEL "db_btnS/step_btn_0" BEL "db_btnS/clk_dv_16" BEL
        "db_btnS/clk_dv_15" BEL "db_btnS/clk_dv_14" BEL "db_btnS/clk_dv_13"
        BEL "db_btnS/clk_dv_12" BEL "db_btnS/clk_dv_11" BEL
        "db_btnS/clk_dv_10" BEL "db_btnS/clk_dv_9" BEL "db_btnS/clk_dv_8" BEL
        "db_btnS/clk_dv_7" BEL "db_btnS/clk_dv_6" BEL "db_btnS/clk_dv_5" BEL
        "db_btnS/clk_dv_4" BEL "db_btnS/clk_dv_3" BEL "db_btnS/clk_dv_2" BEL
        "db_btnS/clk_dv_1" BEL "db_btnS/clk_dv_0" BEL "db_btnR/btn_signal" BEL
        "db_btnR/step_btn_2" BEL "db_btnR/step_btn_1" BEL "db_btnR/step_btn_0"
        BEL "db_btnL/btn_signal" BEL "db_btnL/step_btn_2" BEL
        "db_btnL/step_btn_1" BEL "db_btnL/step_btn_0" BEL "bossCtrl/timer_30"
        BEL "bossCtrl/timer_29" BEL "bossCtrl/timer_31" BEL
        "bossCtrl/timer_28" BEL "bossCtrl/timer_27" BEL "bossCtrl/timer_26"
        BEL "bossCtrl/timer_25" BEL "bossCtrl/timer_24" BEL
        "bossCtrl/timer_23" BEL "bossCtrl/timer_22" BEL "bossCtrl/timer_21"
        BEL "bossCtrl/timer_20" BEL "bossCtrl/timer_19" BEL
        "bossCtrl/timer_18" BEL "bossCtrl/timer_17" BEL "bossCtrl/timer_16"
        BEL "bossCtrl/timer_15" BEL "bossCtrl/timer_14" BEL
        "bossCtrl/timer_13" BEL "bossCtrl/timer_12" BEL "bossCtrl/timer_11"
        BEL "bossCtrl/timer_10" BEL "bossCtrl/timer_9" BEL "bossCtrl/timer_8"
        BEL "bossCtrl/timer_7" BEL "bossCtrl/timer_6" BEL "bossCtrl/timer_5"
        BEL "bossCtrl/timer_4" BEL "bossCtrl/timer_3" BEL "bossCtrl/timer_2"
        BEL "bossCtrl/timer_1" BEL "bossCtrl/timer_0" BEL "bossCtrl/state_2"
        BEL "bossCtrl/state_1" BEL "bossCtrl/state_0" BEL
        "bossCtrl/attackType_1" BEL "bossCtrl/projH_2" BEL "bossCtrl/projW_5"
        BEL "bossCtrl/projW_3" BEL "bossCtrl/proj4X_1" BEL "bossCtrl/proj3X_9"
        BEL "bossCtrl/proj3X_4" BEL "bossCtrl/proj3X_2" BEL
        "bossCtrl/proj3X_1" BEL "bossCtrl/proj2X_8" BEL "bossCtrl/proj2X_5"
        BEL "bossCtrl/proj2X_4" BEL "bossCtrl/proj2X_2" BEL
        "bossCtrl/proj2X_1" BEL "bossCtrl/proj1X_7" BEL "bossCtrl/proj1X_6"
        BEL "bossCtrl/proj1X_5" BEL "bossCtrl/proj1X_4" BEL
        "bossCtrl/proj1X_3" BEL "bossCtrl/proj1X_2" BEL "bossCtrl/proj1X_1"
        BEL "bossCtrl/proj1X_0" BEL "bossCtrl/waitSignal" BEL
        "bossProj/timer_31" BEL "bossProj/timer_30" BEL "bossProj/timer_29"
        BEL "bossProj/timer_28" BEL "bossProj/timer_27" BEL
        "bossProj/timer_26" BEL "bossProj/timer_25" BEL "bossProj/timer_24"
        BEL "bossProj/timer_23" BEL "bossProj/timer_22" BEL
        "bossProj/timer_21" BEL "bossProj/timer_20" BEL "bossProj/timer_19"
        BEL "bossProj/timer_18" BEL "bossProj/timer_17" BEL
        "bossProj/timer_16" BEL "bossProj/timer_15" BEL "bossProj/timer_14"
        BEL "bossProj/timer_13" BEL "bossProj/timer_12" BEL
        "bossProj/timer_11" BEL "bossProj/timer_10" BEL "bossProj/timer_9" BEL
        "bossProj/timer_8" BEL "bossProj/timer_7" BEL "bossProj/timer_6" BEL
        "bossProj/timer_5" BEL "bossProj/timer_4" BEL "bossProj/timer_3" BEL
        "bossProj/timer_2" BEL "bossProj/timer_1" BEL "bossProj/timer_0" BEL
        "bossProj/proj5X_out_9" BEL "bossProj/proj4X_out_9" BEL
        "bossProj/proj4X_out_6" BEL "bossProj/proj4X_out_3" BEL
        "bossProj/proj3X_out_9" BEL "bossProj/proj3X_out_8" BEL
        "bossProj/proj3X_out_7" BEL "bossProj/proj3X_out_5" BEL
        "bossProj/proj3X_out_4" BEL "bossProj/proj3X_out_1" BEL
        "bossProj/turnOffBeam" BEL "bossProj/proj5Y_out_8" BEL
        "bossProj/proj5Y_out_7" BEL "bossProj/proj5Y_out_6" BEL
        "bossProj/proj5Y_out_5" BEL "bossProj/proj5Y_out_4" BEL
        "bossProj/proj5Y_out_3" BEL "bossProj/proj5Y_out_2" BEL
        "bossProj/proj5Y_out_1" BEL "bossProj/proj5Y_out_0" BEL
        "bossProj/proj3Y_out_8" BEL "bossProj/proj3Y_out_7" BEL
        "bossProj/proj3Y_out_6" BEL "bossProj/proj3Y_out_5" BEL
        "bossProj/proj3Y_out_4" BEL "bossProj/proj3Y_out_3" BEL
        "bossProj/proj3Y_out_2" BEL "bossProj/proj3Y_out_1" BEL
        "bossProj/proj3Y_out_0" BEL "bossProj/proj4Y_out_8" BEL
        "bossProj/proj4Y_out_7" BEL "bossProj/proj4Y_out_6" BEL
        "bossProj/proj4Y_out_5" BEL "bossProj/proj4Y_out_4" BEL
        "bossProj/proj4Y_out_3" BEL "bossProj/proj4Y_out_2" BEL
        "bossProj/proj4Y_out_1" BEL "bossProj/proj4Y_out_0" BEL
        "bossProj/proj2Y_out_8" BEL "bossProj/proj2Y_out_7" BEL
        "bossProj/proj2Y_out_6" BEL "bossProj/proj2Y_out_5" BEL
        "bossProj/proj2Y_out_4" BEL "bossProj/proj2Y_out_3" BEL
        "bossProj/proj2Y_out_2" BEL "bossProj/proj2Y_out_1" BEL
        "bossProj/proj2Y_out_0" BEL "bossProj/proj1Y_out_8" BEL
        "bossProj/proj1Y_out_7" BEL "bossProj/proj1Y_out_6" BEL
        "bossProj/proj1Y_out_5" BEL "bossProj/proj1Y_out_4" BEL
        "bossProj/proj1Y_out_3" BEL "bossProj/proj1Y_out_2" BEL
        "bossProj/proj1Y_out_1" BEL "bossProj/proj1Y_out_0" BEL
        "bossProj/proj1X_out_9" BEL "bossProj/proj1X_out_8" BEL
        "bossProj/proj1X_out_7" BEL "bossProj/proj1X_out_6" BEL
        "bossProj/proj1X_out_5" BEL "bossProj/proj1X_out_4" BEL
        "bossProj/proj1X_out_3" BEL "bossProj/proj1X_out_2" BEL
        "bossProj/proj1X_out_1" BEL "bossProj/proj1X_out_0" BEL
        "bossProj/proj2X_out_9" BEL "bossProj/proj2X_out_8" BEL
        "bossProj/proj2X_out_7" BEL "bossProj/proj2X_out_6" BEL
        "bossProj/proj2X_out_5" BEL "bossProj/proj2X_out_4" BEL
        "bossProj/proj2X_out_3" BEL "bossProj/proj2X_out_2" BEL
        "bossProj/proj2X_out_1" BEL "bossProj/proj2X_out_0" BEL
        "playerCtrl/timer_31" BEL "playerCtrl/timer_30" BEL
        "playerCtrl/timer_29" BEL "playerCtrl/timer_28" BEL
        "playerCtrl/timer_27" BEL "playerCtrl/timer_26" BEL
        "playerCtrl/timer_25" BEL "playerCtrl/timer_24" BEL
        "playerCtrl/timer_23" BEL "playerCtrl/timer_22" BEL
        "playerCtrl/timer_21" BEL "playerCtrl/timer_20" BEL
        "playerCtrl/timer_19" BEL "playerCtrl/timer_18" BEL
        "playerCtrl/timer_17" BEL "playerCtrl/timer_16" BEL
        "playerCtrl/timer_15" BEL "playerCtrl/timer_14" BEL
        "playerCtrl/timer_13" BEL "playerCtrl/timer_12" BEL
        "playerCtrl/timer_11" BEL "playerCtrl/timer_10" BEL
        "playerCtrl/timer_9" BEL "playerCtrl/timer_8" BEL "playerCtrl/timer_7"
        BEL "playerCtrl/timer_6" BEL "playerCtrl/timer_5" BEL
        "playerCtrl/timer_4" BEL "playerCtrl/timer_3" BEL "playerCtrl/timer_2"
        BEL "playerCtrl/timer_1" BEL "playerCtrl/timer_0" BEL
        "playerCtrl/playerX_9" BEL "playerCtrl/playerX_8" BEL
        "playerCtrl/playerX_7" BEL "playerCtrl/playerX_6" BEL
        "playerCtrl/playerX_5" BEL "playerCtrl/playerX_4" BEL
        "playerCtrl/playerX_3" BEL "playerCtrl/playerX_2" BEL
        "playerCtrl/playerX_1" BEL "playerCtrl/playerX_0" BEL
        "playerCollisions/collidedProj_2" BEL
        "playerCollisions/collidedProj_1" BEL
        "playerCollisions/collidedProj_0" BEL "clkDisplay/counter_0" BEL
        "gen_clkVga/counter_0" BEL "bossCtrl/indicate1" BEL
        "bossCtrl/bossShoot" BEL "bossCtrl/indicate2" BEL
        "bossProj/waitSignal" BEL "playerCtrl/playerHP_1" BEL
        "playerCtrl/playerHP_0" BEL "playerCtrl/immune" BEL
        "playerCollisions/projHit" BEL "bossCtrl/projW_5_1" BEL
        "playerCtrl/playerX_6_1" BEL "playerCtrl/playerX_7_1" BEL
        "playerCtrl/playerX_5_1" BEL "playerCtrl/playerX_2_1" BEL
        "playerCtrl/playerX_0_1" BEL "playerCtrl/playerX_3_1" BEL
        "playerCtrl/playerX_4_1" BEL "playerCtrl/playerX_1_1" BEL
        "bossProj/proj5X_out_9_1" BEL "bossCtrl/proj1X_0_1" BEL
        "bossCtrl/proj1X_7_1" BEL "playerCtrl/playerX_8_1" BEL
        "playerCtrl/playerX_9_1" BEL "bossProj/proj4X_out_9_1" BEL
        "bossCtrl/projW_3_1" BEL "bossCtrl/projW_5_2" BEL
        "bossProj/proj5X_out_9_2" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

